# devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# envfile
.env

# apple stuff
._*
.DS_Store
__MACOSX

# terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc

# secrets
secrets/

# Kubernetes credentials
.kube
kubeconfig
talosconfig

*credentials.json
