# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/prometheus-operator/kube-prometheus.git

patches:
  - patch: |-
      apiVersion: v1
      kind: Namespace
      metadata:
        name: monitoring
        labels:
          pod-security.kubernetes.io/enforce: privileged
