# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/prometheus-operator/kube-prometheus.git
  - network-policy.yaml

patches:
  - patch: |-
      apiVersion: v1
      kind: Namespace
      metadata:
        name: monitoring
        labels:
          pod-security.kubernetes.io/enforce: privileged
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: grafana
        namespace: monitoring
        annotations:
          tailscale.com/expose: "true"
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: prometheus-k8s
        namespace: monitoring
        annotations:
          tailscale.com/expose: "true"
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: alertmanager-main
        namespace: monitoring
        annotations:
          tailscale.com/expose: "true"
