# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - pocketid-secrets.yaml

configMapGenerator:
  - name: pocketid-config
    behavior: merge
    envs:
      - config.env

patches:
  - patch: |-
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: pocketid-httproute
      spec:
        hostnames:
          - "citadel.requiem.garden"
