# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: postgres-operator
    repo: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
    version: 1.15.1
    releaseName: postgres-operator
    namespace: postgres-operator
    includeCRDs: true
  - name: postgres-operator-ui
    repo: https://opensource.zalando.com/postgres-operator/charts/postgres-operator-ui
    version: 1.15.1
    releaseName: postgres-operator-ui
    namespace: postgres-operator

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: not-used
      spec:
        template:
          spec:
            nodeSelector:
              node-role.kubernetes.io/control-plane: ""
            tolerations:
              - effect: NoSchedule
                key: node-role.kubernetes.io/control-plane
                operator: Exists
