# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: gateway.networking.k8s.io/v1
      kind: Gateway
      metadata:
        name: traefik-gateway
        namespace: traefik
      spec:
        listeners:
          - name: web
            hostname: "*.requiem.garden"
          - name: websecure
            hostname: "*.requiem.garden"
